<h1>Sign Up for Savant</h1>
<% if @user.errors.any? %>
  <%= render partial: "shared/errors", locals: {model: @user} %>
<% end %>
<form  action="<%= users_url %>" method="post">
  <%= form_auth_token %>
  <label for="username">Username</label>
  <input id="username" type="text" name="user[username]" value="<%= @user.username %>">

  <label for="email">Email</label>
  <input id="email" type="text" name="user[email]" value="<%= @user.email %>">

  <label for="password">Password</label>
  <input id="password" type="password" name="user[password]">

  <button>Submit</button>
</form>
